@import url('./variables.css');

.gallary-title {
    text-align: center;
    font-size: 2rem;
    margin: 2rem 0;
    color: var(--text-dark);
    font-weight: bold;
}

.img-gallary {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
}
.img-gallary img {
    height: 200px;
}