@import url('./variables.css');

section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.login {
    background: white;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
    width: 100%;
    max-width: 400px;
}

section h1 {
    text-align: center;
    margin-bottom: 1.5rem;
}

form div {
    margin-bottom: 1rem;
}

label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: 500;
}

input {
    width: 100%;
    padding: 0.6rem;
    border-radius: 6px;
    border: 1px solid #cbd5e1;
}

.login-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.9rem;
}
.remember-me {
  display: flex;
}
input[type="checkbox"] {
  transform: scale(0.4);
}


.forgot-password {
  text-decoration: none;
  color: #1d4ed8;
}

.forgot-password:hover {
  text-decoration: underline;
}


button[type="submit"] {
    width: 100%;
    padding: 0.75rem;
    background: var(--primary-color);
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    margin-top: 1rem;
}

button[type="submit"]:hover {
    background: #6366f1;
}

.social-login {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    margin: 1.5rem 0;
}

.google-btn,
.facebook-btn {
    padding: 0.65rem;
    border-radius: 6px;
    border: none;
    color: white;
    font-weight: 500;
    font-size: 0.95rem;
    cursor: pointer;
    transition: background 0.3s ease;
    width: 100%;
}

.google-btn {
    background: var(--bg-color);
    color: var(--text-dark);
}

.google-btn:hover {
    background: var(--google-color);
    color: white;
}

.facebook-btn {
    background: var(--bg-color);
    color: var(--text-dark);
}

.facebook-btn:hover {
    background: var(--facebook-color);
    color: white;
}

p {
    text-align: center;
    margin-top: 1rem;
    font-size: 0.95rem;
}

a {
    color: var(--primary-color);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

@media (max-width: 480px) {
    section {
    padding: 1.5rem;
    }
}