:root {
    --primary-color: #b04232;
    --secondary-color: #af5749;
    --accent-color: #10b981;
    --bg-color: #e7e8ea;
    --dark-bg: #0f172a;
    --text-light: #f1f5f9;
    --text-dark: #1f2937;
    --facebook-color: #1877f2;
    --google-color: #ea4335;
}